# =====================================================================
# CONFIGURAÇÕES DE RESILIÊNCIA E REQUISIÇÕES HTTP (INGESTÃO)
# =====================================================================
INGEST_MAX_RETRIES=3
INGEST_BACKOFF_FACTOR=2
INGEST_TIMEOUT=45

# =====================================================================
# ENDPOINTS OFICIAIS - PORTAL DE DADOS ABERTOS (GOVERNO FEDERAL)
# =====================================================================
URL_PRF_2025=https://arquivos.prf.gov.br/arquivos/index.php/s/w7N1Z69O2gKfehZ/download
URL_PRF_2024=https://arquivos.prf.gov.br/arquivos/index.php/s/77lY9mshU0D1z4v/download
URL_PRF_2023=https://arquivos.prf.gov.br/arquivos/index.php/s/76vdf88UhY7z2pZ/download
URL_PRF_2022=https://arquivos.prf.gov.br/arquivos/index.php/s/6v8y9YVNhU7Z1pW/download
URL_PRF_2021=https://arquivos.prf.gov.br/arquivos/index.php/s/5V7y8YVNhU6Z1pW/download